@import "./_import.reset.scss";
@import "./_import.mixin.scss";
// @import "./_import.mod-nav.scss";
// @import "./_import.mod-btn.scss";

body {
  line-height: 1.5;
  font-size: 16px;
  color: #333;
  background: #f1f1f1 url(../img/ui/bg.png);
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  transform: translateZ(0);
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}

.i {
  display: inline-block;
  vertical-align: middle;

  &-close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url(../img/ui/close.png) center center no-repeat;
    background-size: 80% 80%;
    border-radius: 100%;
    background-color: #fff;
  }
}

.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

h2 {
  font-size: 24px;
  padding-left: 16px;
  position: relative;
  color: $mainColor;
  margin-left: 5px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 6px;
    background: $mainColor
  }
}

h3 {
  font-size: 16px;
}

.page {
  &-item {
    display: none;

    &.cur {
      display: block;
    }
  }

  &-title {
    position: relative;

    h2 {
      line-height: 36px;
    }

    &__extra {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;

      .mc-time {
        white-space: nowrap;
        padding-right: 5px;
      }
    }
  }
}

.mod-tips {
  font-size: 12px;
  color: #9d9d9d;
  margin-top: 3px;
}

.card-list {
  &__item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    max-width: 160px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    margin: 2px;
    padding: 6px;
  }

  h3 {
    text-align: center;
    background-color: rgba($color: #fff, $alpha: .4);
    border-top: 2px solid #333;
    border-bottom: 1px solid #ccc;
    color: $mainColor;
  }
  .name2 {
    opacity: .7;
  }
  .namejp {
    color: darken(lightblue, 30%);
  }
  .namecn {
    color: #444;
    font-size: 13px;
  }
  .extra {
    font-size: 13px;
  }
}

// 移动端适配
@media screen and (max-width: 660px) {
  .m-dialog {
    &__bd {
      width: vw(676);
    }

    &__close {
      margin-left: vw(676 - 62);
    }
  }
}